[submodule "02-couter-app"]
	path = 02-couter-app
	url = https://github.com/anirudha-8/counter-app-using-react.git
[submodule "03-app-to-learn-tailwind-and-props-in-react"]
	path = 03-app-to-learn-tailwind-and-props-in-react
	url = https://github.com/anirudha-8/app-to-learn-tailwind-basics-and-props-in-react.git
[submodule "04-bg-changer"]
	path = 04-bg-changer
	url = https://github.com/anirudha-8/react-app-bg-changer.git
[submodule "05-password-generator"]
	path = 05-password-generator
	url = https://github.com/anirudha-8/react-app-password-generator.git
[submodule "06-currency-converter"]
	path = 06-currency-converter
	url = https://github.com/anirudha-8/06-currency-converter.git
